* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 306px;
  background-color: #ffffff;
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-top: 37px;
}

.navbar__logo__version {
  margin-left: 5px;
  margin-bottom: -11.5px;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  color: #838383;
}

.navbar__item {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #838383;
  cursor: pointer;
  margin-bottom: 20px;
  width: 250px;
  height: 46px;
  justify-content: space-between;
}

.navbar__item_active {
  color: #ffffff;
  background-color: #5932ea;
  border-radius: 8px;
}

.navbar__item-naming {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.navbar__item img {
  margin-right: 11px;
}

.chevron {
  font-size: 17px;
  font-weight: 700;
  display: inline-block;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 10px;
  justify-self: flex-end;
}

.navbar__admin {
  margin-left: 28px;
  margin-bottom: 76px;
}

.navbar__admin figure {
  display: flex;
  align-items: end;
}

.admin__name {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  margin-left: 12px;
}

.admin__position {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #757575;
  margin-left: 12px;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9197b3;
  width: calc(100% - 306px);
}

.dashboard__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 41px;
}

.dashboard__header {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500px;
  align-self: flex-start;
}

.dashboard__users {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 812px;
  margin-top: 51px;
  border-radius: 30px;
  background-color: #ffffff;
}

.dashboard__users-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dashboard__users-titles {
  margin-left: 38px;
  margin-top: 30px;
}

.dashboard__users-title {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
}

.dashboard__users-subtitle {
  color: #16c098;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
}

.dashboard__users-input {
  margin-right: 53px;
  margin-top: 44px;
}

.dashboard__users-input-field {
  border-radius: 10px;
  border: none;
  background: url(img/search.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 10px;
  background-color: #f9fbff;
  width: 216px;
  height: 38px;
  padding-left: 40px;
}

.dashboard__users-table {
  text-align: left;
  margin-top: 40px;
  margin-left: 38px;
  width: calc(100% - 38px);
  border-collapse: collapse;
}

hr {
  margin-left: -38px;
  border: 1px solid #eeeeee;
}

.dashboard__users-table-header {
  color: #b5b7c0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 14px;
}

.dashboard__users-table-data {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 69px;
  border-bottom: 1px solid #eee;
  color: #292d32;
}

.dashboard__users-table-status-button--active {
  display: flex;
  width: 80px;
  height: 29px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #00b087;
  background: rgba(22, 192, 152, 0.38);
  color: #008767;
}

.dashboard__users-table-status-button--inactive {
  display: flex;
  width: 80px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #df0404;
  background: #ffc5c5;
  color: #df0404;
}

.dashboard__users-footer {
  display: flex;
  margin-left: 38px;
  width: calc(100% - 38px - 40px);
  justify-content: space-between;
}

.dashboard__users-footer-text {
  color: #b5b7c0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 32px;
}

.dashboard__users-footer-buttons {
  display: flex;
  margin-top: 30px;
  width: 30%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard__users-footer-button {
  display: inline-flex;
  padding: 6px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #eee;
  background: #f5f5f5;
  width: 25px;
  height: 24px;
  cursor: pointer;

  /* fonts */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.dashboard__users-footer-restbtn {
  display: inline-flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  cursor: pointer;

  padding: 6px 10px;

  /* fonts */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.dashboard__users-footer-button--active {
  padding: 6px 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #5932ea;
  background: #5932ea;
  color: #ffffff;
  width: 25px;
  height: 24px;
  cursor: pointer;

  /* fonts */
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

/* Responsive styles */
/* Small devices (portrait tablets and large phones, 200px and up) */
@media (min-width: 200px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
  }

  .navbar__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 2%;
  }

  .navbar__logo {
    height: 39px;
    margin-top: 0px;
  }

  .navbar__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 0;
    margin-top: 0;
  }

  .navbar__item {
    margin-bottom: 5px;
  }

  .navbar__admin {
    margin-left: 28px;
    margin-bottom: 76px;
    position: absolute;
    top: 440px;
    right: 50px;
  }

  .navbar__admin figure {
    display: flex;
    align-items: end;
  }

  .admin__name {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    margin-left: 12px;
  }

  .admin__position {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #757575;
    margin-left: 12px;
  }

  .dashboard {
    display: flex;
    background-color: #eeeeee;
    width: 100%;
  }

  .dashboard__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 96%;
    min-height: calc(100vh - 150px);
  }
  .dashboard__users {
    width: 100%;
  }
  .dashboard__users-table-container {
    max-width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  .dashboard__users-footer-buttons {
    display: flex;
    margin-top: 30px;
    width: 30%;
    justify-content: start;
    flex-wrap: wrap;
  }
}

/* Medium devices (landscape tablets, 527px and up) */
@media (min-width: 527px) {
  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
  }

  .navbar__admin {
    margin-left: 28px;
    margin-bottom: 76px;
    position: absolute;
    top: 340px;
    right: 50px;
  }
  .dashboard__users-footer-buttons {
    display: flex;
    margin-top: 30px;
    width: 30%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/* Large devices (laptops/desktops, 790px and up) */
@media (min-width: 790px) {
  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: #ffffff;
  }
  .navbar__admin {
    margin-left: 28px;
    margin-bottom: 76px;
    position: absolute;
    top: 190px;
    right: 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1274px and up) */
@media (min-width: 1274px) {
  .App {
    display: flex;
    flex-direction: row;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 306px;
    min-height: 100vh;
    background-color: #ffffff;
  }

  .navbar__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-left: 28px;
  }

  .navbar__logo {
    margin-top: 37px;
  }

  .navbar__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0;
    margin-top: 65px;
  }

  .navbar__admin {
    margin-left: 28px;
    margin-bottom: 76px;
    position: static;
  }

  .navbar__admin figure {
    display: flex;
    align-items: end;
  }

  .admin__name {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    margin-left: 12px;
  }

  .admin__position {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #757575;
    margin-left: 12px;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    width: calc(100vw - 306px);
    min-height: 100vh;
  }

  .dashboard__header {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    align-self: flex-start;
  }

  .dashboard__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 968px;
    height: 100%;
  }

  .dashboard__users {
    display: flex;
    flex-direction: column;
    width: 968px;
    height: 812px;
    margin-top: 51px;
    border-radius: 30px;
    background-color: #ffffff;
  }
}
